@font-face  
	font-family Roboto
	font-style normal
	src url("fonts/Roboto/Roboto-Regular.ttf")

@font-face  
	font-family Roboto-Italic
	font-style normal
	src url("fonts/Roboto/Roboto-Italic.ttf")


*
	font-family Roboto
	 		
	margin 0px
body 
	background-color #f2f2f2
	display flex 
	

	
@import "menu.styl"

@import "body.styl"

@import "responsive.styl"