
#card 
	background #fff
	width 961px
	min-height 80vh
	position absolute
	margin-left 372px
	margin-top 4vh
	border 0.5px solid #000
	border-radius 5px
	overflow hidden
	
.sombra 
	box-shadow 5px 0px 5px #999

.Body
	margin auto

	#yo
		// margin-left 410px
		// margin-right 100px
		margin-left 43px
		margin-right 43px
		border-bottom 10px dashed #009bdb
		.title
			
			margin 40px 0 48px 0
			margin-right 43px
			text-align center
			  
		
		
		h2 
			margin-bottom 15px
			margin-top 40px

			text-align center
		p 
			text-align justify
	
	