#header 
	background-color #009bdb
	width 300px
	padding 20px
	position fixed
	bottom 0
	top 0
	text-align center
	color white
	z-index 1



.Menu 
	
	&-image
		width 180px
		height 180px
		border-radius 50%
		margin-top 20px
	
	h2
		margin-top 20px
	.status 
		font-family Roboto-Italic
		font-size 15px
		text-decoration underline 
	
	&-items
		font-size 15px
		margin-top 40px
		display block	
		
		h3
			font-family Roboto-Italic
			text-align center
			margin-top 20px
			padding 5px
			
		h3:hover
			background-color #1cafec
			
			font-size 20px

	a 
		color white
		margin-top 50px
		text-decoration none
	
	&-contacto
		
		display inline
		
		h3
			margin-top 50px
	
		img 
			height 40px
			width 40px
			margin-right 5px

		img:hover
			
			background-color  #fff
			border-radius 50%
				
			

		&-socialMedia
			margin-top 15px
			display flex
			justify-content space-between
		