@media (max-width: 1400px)
	.lista
			display flex
			justify-content space-between
			padding 0
			margin-bottom 71px
			 		
			.items
				margin-left 40px
			ul 
				display block
		.item-lista
			list-style none	
	#certificaciones
		margin-left 43px
		margin-right 43px
		border-bottom 10px dashed #009bdb
		
		.todo 
			
			display inline-flex
			justify-content space-between
			flex-wrap wrap
			justify-content space-around
			
		h2
			margin-top 41px
			text-align center
		
		.titulo-1
			display inline-flex 		
		.certificados
			margin-top 40px
			padding 15px
			
			// display block
			
			h4
				margin-bottom 20px
				text-align center
				text-decoration underline
			a
				color #000
			.titulo	
				width 400px
				height 400px	

			img 
				width 400px
				height 255px	
		.certificados:hover
			background-color #ecf0f1
			box-shadow 5px 0px 5px #999

@media (max-width: 800px)
	#header
		position static
		width 100%
		background-color  blue
		
	#card
		margin 616px 10px 0 10px
		width 96%
		
		#yo
			margin-left 12px
		.item-lista
			margin-left 4px
		p 
			margin-left 30px

@media (max-width: 500px)
	*
		font-size 6vw
	#card
		margin 630px 10px 0 10px
		width 93%
	#header
		position static
		width 100%
		background-color  green
		
	#yo
		.lista
			display inline
			text-align center
			padding 0
			margin-bottom 71px
			font-size 6vw
			 		
			.items
				margin-left 40px
			ul 
				display block
		.item-lista
			list-style none	

	#certificaciones
		margin-left auto
		margin-right auto
		border-bottom 10px dashed #009bdb
		
		.todo 
			
			display inline
			
		h2
			margin-top 41px
			text-align center
		
		.titulo-1
			display inline-flex 		
		.certificados
			margin-top 40px
			// display block
			.img 
				width 83vw
				height 230px	
			
			h4
				margin-bottom 20px
				text-align center
				text-decoration underline
			a
				color #000
			.titulo	
				width 81vw
    			height 400px	

		.certificados:hover
			background-color #ecf0f1
			box-shadow 5px 0px 5px #999
